body {
	background: url("../images/starwars.jpg") no-repeat center center fixed;
	background-size: cover;
}

@font-face {
	font-family: StarWarsLogoFont;
	src: url(../fonts/SF%20Distant%20Galaxy%20Outline%20Italic.ttf) format('truetype');
}

.starwars-logo-font {
	font-family: StarWarsLogoFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 48px;
	color: yellow;
}

.characterBox {
	position: relative;
	width: 140px;
	float: left;
}

.characterBox .characterImage {
	border: 3px solid green;
	padding: 20px 15px;
	background-color: white;
}

.characterBox .characterName, .characterBox .characterHealth {
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 12px;
	color: black;
}

.characterBox .characterName {
	top: 6px;
}

.characterBox .characterHealth {
	bottom: 4px;
}

.gameSection {
	clear: both;
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

#howToPlayButton {
	float: right;
}

#fightResult {
	font-size: 14px;
}